:root {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;

  --color-grey-600 : #3D6666;
  --color-grey-550 : #547878;
  --color-grey-500 : #5A7A7D;
  --color-grey-400 : #7F9D9F;
  --color-grey-300 : #9EBBBD;
  --color-grey-200 : #C5E4E7;
  --color-grey-50 :  #F3F9FA;

  --color-green-900: #00474B;
  --color-green-800: #085C61;
  --color-green-750: #0D686D;
  --color-green-400: #26C2AE;
  --color-green-200: #9FE8DF;

  --color-orange-400: #E17052;
  
    --focus-teal: #14b8a6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   background-color: var(--color-grey-200);
}